packages:
   yum:
      gcc: []
      gcc-c++: []
      git: []
  
commands:
  01-command:
    command: sudo dd if=/dev/zero of=/swapfile bs=1024 count=524288
  02-command:
    command: sudo chmod 600 /swapfile
  03-command:
    command: sudo mkswap /swapfile
  04-command:
    command: sudo swapon /swapfile
  05-command:
    command: sudo pip install pandas