option_settings:
  "aws:elasticbeanstalk:application:environment":
    "application_stage": "staging"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: tweetsuite.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/dist/": "static/dist/"
    "/static/": "static/"
    "/templates/": "templates/"
    "/tweets/": "static/tweets/"