<div class="text-center"  style="background-color:white; width:1200px; margin:auto; align-items:center;  color:white; padding:20px; " >
		
	  <table><tr><td  style="width:250px" valign="top">
              <div class="table-responsive">
		   <table class="table table-hover table-bordered table-striped" id="retweetstable" style="border-width:2px;">
		       <thead class="thead-default text-center">
				   <tr> 
					<th class="text-center" style="font-size:14px;">Most Retweeted Tweets</th>
					<!--<th  style="font-size:14px;"> Reference urls </th>-->
					
				  </tr>
			  </thead>
			
			{% for i in range(html|length) %}
			  <tr>
				<td> {{ html[i][0]|safe }} </td>
				<!--<td>  <iframe class="embed-responsive-item" src='{{ html[i][1][0] | safe}}'  scrolling="yes" height="300" width="800" ></iframe></td>-->
			  </tr>
			  {% endfor %}
		   </table> 
              </div>
             </td>
             <td width="20px"> </td>
             <td style="width:800px">
		     <div class="col-md-12" style="background-color:lightgray;  color:white; width:800px;border:thin solid red;padding:20px;">

                   <label align="top" style="font-size:14px;font-color:black" >  <b>Top Influencers</b> </label>
                  {% for i in range(users|length) %}
                
                     <table class="table" id="influencer_users_table" style="background-color:white;border:none">
                        <tr><Td width="220px" align="left" ><img src ='{{ users[i][4]|safe }}' width="62" height="62"></img></td> <td align="left"> <font color="black"><b> Name :</b> {{ users[i][6]|safe }}  <br> Twitter id :@{{ users[i][0]|safe }}</td></tr>
                
                        <tr><td width="220px" align="left">  <font color="black"> <b>Location : </b> {{ users[i][3]|safe }} </td> <td align="left" > <font color="black"><b>Number of followers : </b>{{ users[i][1]|safe }} </td></tr>
                        <tr><td width="220px" align="left"> <font color="black"> {{ users[i][2]|safe }}            </td> <td align="left"> <font color="black"> <b> Number of Tweets : </b> {{ users[i][5]|safe }} <br> <b> Number of Members Following : </b>{{ users[i][7]|safe }} <br> <b> Number of likes : </b>{{ users[i][8]|safe }}</td> </tr>
                     </table>
                  {% endfor %}
 
                </div> 
		
             </td></tr>
        </table>		
</div>	<!-- end container -->
	
