
		<div class="row-fluid">

			<div class="col-xs-3">
			  
			  <div class="table-responsive">
				<table class="table table-striped" id="users_table">
				  <thead class="thead-default">
					<tr>
					  <th><h4>Top Users</h4></th>
					  <th></th>
					</tr>
				  </thead>
				  
				</table>
			</div>
		  </div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Words</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Hashtags</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Mentions</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped" id="urls_table">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top URLs</h4></th>
						<th></th>
					  </tr>
					</thead>
					
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped" id="retweet_table">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Retweets</h4></th>
						<th></th>
					  </tr>
					</thead>
					
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Languages</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Places</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		</div>
	
		<script>
			function draw_users_table() {
	
				filename = "{{url_for('static', filename='tweets/topUserNames.json')}}";
				window.alert(filename);
				$.getJSON( filename, function( data ) {
					var tweets = data;
					//var tweets = "{\"Donald Pemberton\":15,\"Greneehays\":7,\"PolitDecals\":5,\"Radical Decals\":4,\"Decals AllDay\":4}";
					var tweetsjson = JSON.parse(tweets);
					window.alert(typeof(tweetsjson));
					window.alert(tweetsjson);
					for(var key in tweetsjson) {
						$("#users_table").append('<tr><td class="text-left">' + key + '</td><td class="text-right">' + tweetsjson[key] + '</td></tr>');
					}
					//alert( "Load was performed." );
				});
			}
			
			function draw_retweet_table() {
	
				filename = "{{url_for('static', filename='tweets/topRetweets.json')}}";
				window.alert(filename);
				$.getJSON( filename, function( data ) {
					var tweets = data;
					//var tweets = "{\"Donald Pemberton\":15,\"Greneehays\":7,\"PolitDecals\":5,\"Radical Decals\":4,\"Decals AllDay\":4}";
					var tweetsjson = JSON.parse(tweets);
					window.alert(typeof(tweetsjson));
					window.alert(tweets);
					for(var key in tweetsjson) {
						//window.alert("Yes!");
						$("#retweet_table").append('<tr><td class="text-left">' + (tweetsjson[key].text).substring(0,30) + '</td><td class="text-right">' + tweetsjson[key].retweetCount + '</td></tr>');
					}
					//alert( "Load was performed." );
				});
			}		
			
			function draw_urls_table() {
	
				filename = "{{url_for('static', filename='tweets/topUrls.json')}}";
				window.alert(filename);
				$.getJSON( filename, function( data ) {
					var tweets = data;
					//var tweets = "{\"Donald Pemberton\":15,\"Greneehays\":7,\"PolitDecals\":5,\"Radical Decals\":4,\"Decals AllDay\":4}";
					var tweetsjson = JSON.parse(tweets);
					window.alert(typeof(tweetsjson));
					window.alert(tweetsjson);
					for(var key in tweetsjson) {
						$("#urls_table").append('<tr><td class="text-left">' + '<a target="_blank" href="http://'+key+ '">' + key.substring(0,30) + '</td><td class="text-right">' + tweetsjson[key] + '</td></tr>');
					}
					//alert( "Load was performed." );
				});
			}
			
		</script>