
		<div class="row-fluid">

			<div class="col-xs-3">
			  
			  <div class="table-responsive">
				<table class="table table-striped" id="statistics_table">
				  <thead class="thead-default">
					<tr>
					  <th><h4>Top Users</h4></th>
					  <th></th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>@mrskathyking</td>
					  <td class="text-right">576</td>
					</tr>
					<tr>
					  <td>@therockfather</td>
					  <td class="text-right">804</td>
					</tr>
					<tr>
					  <td>@kouponkaren</td>
					  <td class="text-right">239</td>
					</tr>
				  </tbody>
				</table>
			</div>
		  </div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Words</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Hashtags</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Mentions</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top URLs</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Retweets</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Languages</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		  
		  <div class="col-xs-3">
			  
			<div class="table-responsive">
				   <table class="table table-striped">
					<thead class="thead-default">
					  <tr>
						<th><h4>Top Places</h4></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>@mrskathyking</td>
						<td class="text-right">576</td>
					  </tr>
					  <tr>
						<td>@therockfather</td>
						<td class="text-right">804</td>
					  </tr>
					  <tr>
						<td>@kouponkaren</td>
						<td class="text-right">239</td>
					  </tr>
					</tbody>
				  </table>
				</div>    
			</div>
		</div>
	
